.page {
  background-color: #fff;
  color: #3e404c;
  font-family: Inter, sans-serif;
}

.title {
  color: #030407;
  font-family: Archivo, sans-serif;
  font-weight: 700;
}

.span {
  color: #443fde;
  text-transform: uppercase;
  font-weight: 600;
}

.marker {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 0.5px;
  height: 29px;
  text-align: center;
  padding: 6px 12px;
}

.decoration {
  border-bottom: 1px solid #ebebef;
}

.margin-inline {
  margin-inline-start: clamp(0.6875rem, -5.6687rem + 27.1197vw, 26.875rem);
  margin-inline-end: clamp(0.6875rem, -4.4551rem + 21.9417vw, 21.875rem);
}

.background {
  background-color: #f9f9fb;
}

.list {
  list-style: none;
}

.nav-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.3px;
  transition: color 0.3s;
}

.nav-link_active {
  color: #443fde;
}

input::placeholder {
  color: #999;
}

.panel {
  outline: 1px solid #ebebef;
  width: clamp(21.125rem, 15.3301rem + 24.7249vw, 45rem);
  height: 70px;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
}

.panel__block {
  display: flex;
  align-items: center;
}

.panel__button {
  height: 44px;
  width: 110px;
  margin-inline-start: 13px;
}

.panel__block-image {
  width: 22px;
  height: 21px;
}

.panel__block-input {
  border: none;
  height: 44px;
  margin-inline-start: 10px;
  max-width: 552px;
}

.panel__block-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
}

.button {
  background-color: #443fde;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  border: none;
}

.button-arrow {
  width: 48px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #ebebef;
}

.button-arrow-small {
  width: 48px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #ebebef;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  padding: 5px 0 2px;
  display: flex;
  max-height: 40px;
  align-items: center;
  gap: 27px;
}

.logo__group {
  display: flex;
  gap: 3px;
}

.logo__letter {
  left: 42px;
  width: 31px;
  height: 37px;
}

.logo__point {
  left: 162px;
  bottom: 32px;
  width: 8px;
  height: 9px;
}

@media (width < 376px) {

  .panel {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 126px;
    padding-block: 8px;
  }

  .panel__block {
    width: 312px;
    margin: 0;
  }

  .panel__button {
    width: 312px;
    margin: 0;
  }
}
