.companies {
  display: grid;
  gap: 10px;
}

.companies__info {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-block: 55px 50px;
}

.companies__info-article {
  display: grid;
  gap: 5px;
}

.companies__info-article-title {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
}

.companies__info-article-paragraph {
  color: #606476;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.2px;
}

.companies__info-button {
  display: flex;
  gap: 20px;
}

.companies__slider {
  height: clamp(18.375rem, 18.1323rem + 1.0356vw, 19.375rem);
  display: flex;
  gap: 25px;
  overflow: hidden;
  position: relative;
  margin-block-end: 50px;
}

.companies__slider-item {
  height: clamp(18.375rem, 18.1323rem + 1.0356vw, 19.375rem);
  width: 390px;
  border: 1px solid #EBEBEF;
  padding: 40px;
  position: absolute;
}

.companies__slider:hover .companies__slider-item {
  animation-play-state: paused;
  cursor: pointer;
}

.firstanimation-companies {
  animation: firstcompanies 15s ease-in-out infinite;
}

.secondanimation-companies {
  animation: secondcompanies 15s ease-in-out infinite;
}

.thirdanimation-companies {
  animation: thirdcompanies 15s ease-in-out infinite;
}

.fourthanimation-companies {
  animation: othercompanies 15s ease-in-out infinite;
}

.fifthanimation-companies {
  opacity: 0;
  animation: othercompanies 15s ease-in-out infinite;
  animation-delay: 2.5s;
}

.sixthanimation-companies {
  opacity: 0;
  animation: othercompanies 15s ease-in-out infinite;
  animation-delay: 5s;
}

@keyframes firstcompanies {

  0%, 100% { 
    left: 0; 
    opacity: 1; 
  }
  
  16.6%, 
  33.2% { 
    left: -415px; 
    opacity: 0; 
  }
  
  50% { 
    left: 1235px; 
    opacity: 0; 
  }
  
  66.7% { 
    left: 830px; 
    opacity: 1; 
  }

  83.3% { 
    left: 415px; 
    opacity: 1; 
  }
}

@keyframes secondcompanies {

  0%, 
  100% { 
    left: 415px; 
    opacity: 1; 
  }

  16.6% { 
    left: 0; 
    opacity: 1; 
  }

  33.2%,
  50% { 
    left: -415px; 
    opacity: 0; 
  }

  66.7% { 
    left: 1235px; 
    opacity: 0; 
  }

  83.3% { 
    left: 830px; 
    opacity: 1; 
  }

}

@keyframes thirdcompanies {

  0%, 
  100% { 
    left: 830px; 
    opacity: 1; 
  }
  
  16.6% { 
    left: 415px; 
    opacity: 1; 
  }

  33.2% { 
    left: 0; 
    opacity: 1; 
  }

  50%,
  66.7% { 
    left: -415px; 
    opacity: 0; 
  }

  83.3% { 
    left: 1235px; 
    opacity: 0; 
  }

}

@keyframes othercompanies {

  0%,
  100% { 
    left: 1235px; 
    opacity: 0; 
  }

  16.6% { 
    left: 830px; 
    opacity: 1; 
  }

  33.2% { 
    left: 415px; 
    opacity: 1; 
  }

  50% { 
    left: 0; 
    opacity: 1; 
  }

  66.7%,
  83.3% { 
    left: -415px; 
    opacity: 0; 
  }
}

.companies__slider-box {
  display: flex;
  align-items: center;
  gap: 15px;
}

.companies__slider-box-image {
  width: 56px;
  height: 56px;
}

.companies__slider_item-company {
  font-size: 18px;
  line-height: 23.4px;
}

.companies__slider-paragraph {
  font-weight: 400;
  margin-block: 25px 30px;
  font-size: 16px;
  line-height: 28.8px;
  letter-spacing: 0.3px;
}

.companies__slider-marker {
  background-color: #F1F8F4;
  color: #246B49;
  padding: 10px 15px;
}

@media (width < 1100px) {

  .companies__info {
    display: grid;
    gap: 20px;
    padding-block: 30px 15px;
  }
}

@media (width < 550px) {

  .companies__slider {
    gap: 7px;
  }

  .companies__slider-item {
    padding: 30px;
    width: 338px;
  }

  @keyframes firstcompanies {

    0%, 100% { 
      left: 0; 
      opacity: 1; 
    }
    
    16.6%, 
    33.2%,
    50%,
    66.7% { 
      left: -345px; 
      opacity: 0; 
    }
    
    50% { 
      left: 1035px; 
      opacity: 0; 
    }
    
    66.7% { 
      left: 690px; 
      opacity: 1; 
    }
  
    83.3% { 
      left: 345px; 
      opacity: 1; 
    }
  }
  
  @keyframes secondcompanies {
  
    0%, 
    100% { 
      left: 345px; 
      opacity: 1; 
    }
  
    16.6% { 
      left: 0; 
      opacity: 1; 
    }
  
    33.2%,
    50% { 
      left: -345px; 
      opacity: 0; 
    }
  
    66.7% { 
      left: 1035px; 
      opacity: 0; 
    }
  
    83.3% { 
      left: 690px; 
      opacity: 1; 
    }
  
  }
  
  @keyframes thirdcompanies {
  
    0%, 
    100% { 
      left: 690px; 
      opacity: 1; 
    }
    
    16.6% { 
      left: 345px; 
      opacity: 1; 
    }
  
    33.2% { 
      left: 0; 
      opacity: 1; 
    }
  
    50%,
    66.7% { 
      left: -345px; 
      opacity: 0; 
    }
  
    83.3% { 
      left: 1035px; 
      opacity: 0; 
    }
  
  }
  
  @keyframes othercompanies {
  
    0%,
    100% { 
      left: 1035px; 
      opacity: 0; 
    }
  
    16.6% { 
      left: 690px; 
      opacity: 1; 
    }
  
    33.2% { 
      left: 345px; 
      opacity: 1; 
    }
  
    50% { 
      left: 0; 
      opacity: 1; 
    }
  
    66.7%,
    83.3% { 
      left: -345px; 
      opacity: 0; 
    }
  }
}

@media (width < 376px) {
  
  .companies {
    padding-inline-start: 10px;
  }

  .companies__info-article {
    gap: 5px;
    margin-block-end: 10px;
  }

  .companies__info-article-paragraph {
    letter-spacing: 0.1px;
  }
}