.news {
  margin-block: 65px 60px;
}

.news__article {
  margin-block-end: 55px;
  display: flex;
  justify-content: space-between;
}

.news__article-title {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
}

.news__article-button {
  display: flex;
  gap: 20px;
}

.news__slider {
  display: flex;
  overflow: hidden;
  position: relative;
  gap: 20px;
  height: 511px;
}

.news__slider-item {
  border: 1px solid #ebebef;
  height: 510px;
  width: clamp(21.125rem, 20.3362rem + 3.3657vw, 24.375rem);
  position: absolute;
}

.news__slider:hover .news__slider-item {
  animation-play-state: paused;
  cursor: pointer;
}

.firstanimation-news {
  animation: firstnews 10s ease-in-out infinite;
}

.secondanimation-news {
  animation: secondnews 10s ease-in-out infinite;
}

.thirdanimation-news {
  animation: thirdnews 10s ease-in-out infinite;
}

.fourthanimation-news {
  animation: othernews 10s ease-in-out infinite;
}

@keyframes firstnews {

  0%,
  100% {
    left: 0;
    opacity: 1;
  }

  20% {
    left: -410px;
    opacity: 0;
  }

  40% {
    left: 1230px;
    opacity: 0;
  }

  60% {
    left: 820px;
    opacity: 1;
  }

  80% {
    left: 410px;
    opacity: 1;
  }
}

@keyframes secondnews {

  0%,
  100% {
    left: 410px;
    opacity: 1;
  }

  20% {
    left: 0;
    opacity: 1;
  }

  40% {
    left: -410px;
    opacity: 0;
  }

  60% {
    left: 1230px;
    opacity: 0;
  }

  80% {
    left: 820px;
    opacity: 1;
  }
}

@keyframes thirdnews {

  0%,
  100% {
    left: 820px;
    opacity: 1;
  }

  20% {
    left: 410px;
    opacity: 1;
  }

  40% {
    left: 0;
    opacity: 1;
  }

  60% {
    left: -410px;
    opacity: 0;
  }

  80% {
    left: 1230px;
    opacity: 0;
  }
}

@keyframes othernews {

  0%,
  100% {
    left: 1230px;
    opacity: 0;
  }

  20% {
    left: 820px;
    opacity: 1;
  }

  40% {
    left: 410px;
    opacity: 1;
  }

  60% {
    left: 0;
    opacity: 1;
  }

  80% {
    left: -410px;
    opacity: 0;
  }
}

.news__slider-top {
  margin: 9px;
  height: 220px;
  width: clamp(20rem, 19.2112rem + 3.3657vw, 23.25rem);
}

.news__slider-bottom {
  margin: 17px 0 0 9px;
  padding: 15px 30px 15px 25px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 17px;
}

.news__slider-bottom-marker {
  color: #443fde;
  background-color: #f3f3fc;
  padding: 6px 12px;
}

.news__slider-bottom-title {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.6px;
}

.news__slider-bottom-date {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block-end: 15px;
}

.news__slider-date-image {
  width: 4px;
  height: 4px;
}

.news__slider-date-text {
  color: #606476;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.news__slider-bottom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #f9f9fb;
  border: none;
  height: 45px;
  width: clamp(17rem, 16.2112rem + 3.3657vw, 20.25rem);
}

.news__slider-button-text {
  color: #24262d;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.3px;
}

.news__slider-button-image {
  width: 24px;
  height: 24px;
}

@media (width <1100px) {

  .news__article {
    display: grid;
    gap: 20px;
    padding-inline-start: 10px;
    margin-block-end: 7px;
  }

  .news__slider-bottom {
    padding: 25px 30px 30px;
  }

  .news__slider-bottom-button {
    padding-inline-start: 20px;
    gap: 10px;
  }
}

@media (width < 450px) {

  .firstanimation-news {
    animation: onenews 10s ease-in-out infinite;
  }

  .secondanimation-news {
    animation: nextnews 10s ease-in-out infinite;
  }

  .thirdanimation-news {
    animation: nextnews 10s ease-in-out infinite;
    opacity: 0;
    animation-delay: 2.5s;
  }

  .fourthanimation-news {
    animation: nextnews 10s ease-in-out infinite;
    opacity: 0;
    animation-delay: 5s;
  }

  @keyframes onenews {

    0%,
    100% {
      left: 0;
      opacity: 1;
    }

    25%,
    50% {
      left: -410px;
      opacity: 0;
    }

    75% {
      left: 410px;
      opacity: 0;
    }
  }

  @keyframes nextnews {

    0%,
    100% {
      left: 410px;
      opacity: 0;
    }

    25% {
      left: 0;
      opacity: 1;
    }

    50%,
    75% {
      left: -410px;
      opacity: 0;
    }
  }
}

@media (width < 376px) {

  .news {
    margin-block: 35px;
  }

  .news__slider-bottom {
    margin-block: 0;
    margin-inline-start: 10px;
  }
}
