













.button-arrow_small {
  width: 48px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #EBEBEF;
}









input::placeholder {
  color: #999;
}





.logo {
  padding: 5px 0 2px;
  display: flex;
  max-height: 40px;
  align-items: center;
  gap: 27px;
}

.logo__group {
  display: flex;
  gap: 3px;
}

.logo__letter {
  left: 42px;
  width: 31px;
  height: 37px;
}

.logo__point {
  left: 162px;
  bottom: 32px;
  width: 8px;
  height: 9px;
}



@media (width < 376px) {

  .panel {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 126px;
    padding-block: 8px;
  }

  .panel__block {
    width: 312px;
    margin: 0;
  }

  .panel__button {
    width: 312px;
    margin: 0;
  }
}


