.page {
  background-color: #fff;
  color: #3E404C;
}

.background {
  background-color: #F9F9FB;
}

.decoration {
  border-bottom: 1px solid #EBEBEF;
}

.section-size {
  margin-inline-end: clamp(0.6875rem, -4.4551rem + 21.9417vw, 21.875rem);
  margin-inline-start: clamp(0.6875rem, -5.6687rem + 27.1197vw, 26.875rem);
}

.button {
  background-color: #443FDE;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  border: none;
}

.title {
  font-family: Archivo, sans-serif;
  font-weight: 700;
  color: #030407;
}

.describe {
  color: #3E404C;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.marker {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 0.5px;
  height: 29px;
  text-align: center;
  padding: 6px 12px;
}

.span {
  color: #443FDE;
  font-family: Inter, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.button-arrow {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: 1px solid #EBEBEF;
}

.button-arrow_small {
  width: 48px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #EBEBEF;
}

.news { 
  margin-block: 65px 60px;
}

.news__info {
  margin-block-end: 55px;
  display: flex;
  justify-content: space-between;
}

.news__info_title {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
}

.news__info_button {
  display: flex;
  gap: 20px;
}

.news__slider {
  display: flex;
  list-style: none;
  max-height: 511px;
  overflow: hidden;
  position: relative;
  gap: 10px;
}

.news__slider_item {
  border: 1px solid #EBEBEF;
  margin: 9px;
}

.news__slider_item-top {
  padding: 9px;
}

.news__slider_item-bottom {
  padding: 15px 30px 15px 25px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 17px;
}

.news__slider_item-marker {
  color: #443FDE;
  background-color: #F3F3FC;
  width: 94px;
  height: 29px;
}

.news__slider_item-title {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.6px;
}

.news__slider_item-date {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block-end: 15px;
}

.news__slider_item-date-image {
  width: 4px;
  height: 4px;
}

.news__slider_item-date-text {
  color: #606476;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.news__slider_item-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #F9F9FB;
  border: none;
  height: 45px;
  width: clamp(17rem, 16.2112rem + 3.3657vw, 20.25rem);
}

.news__slider_item-button-text {
  color: #24262D;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.3px;
}

.news__slider_item-button-image {
  width: 24px;
  height: 24px;
}

.news__slider_item-image_mobile {
  display: none;
}

@media (width <1100px) {

  .news__info {
    display: grid;
    gap: 20px;
    padding-inline-start: 10px;
    margin-block-end: 7px;
  }

  .news { 
    margin-block: 30px;
  }

  .news__slider_item-image {
    display: none;
  }

  .news__slider_item-image_mobile {
    display: block;
  }

  .news__slider_item-bottom {
    padding: 25px 30px;
    margin-block-end: 20px;
  }

  .news__slider_item-button {
    padding-inline-start: 20px;
    gap: 10px;
  }

}