.users { 
  display: grid;
  justify-items: center;
  margin-block-start: 60px;
}

.users__span {
  display: none;
}

.users__title {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.8px;
  text-align: center;
  padding-block: 60px;
  max-width: 470px;
}

.users__box {
  position: relative;
  margin-block: 20px 55px;
}

.users__slider {
  overflow: hidden;
  position: relative;
  display: flex;
  height: 450px;
  width: clamp(21.125rem, 11.6893rem + 40.2589vw, 60rem);
}

.users__slider-item {
  width: clamp(21.125rem, 11.6893rem + 40.2589vw, 60rem);
  display: flex;
  gap: 40px;
  position: absolute;
}

.users__slider:hover .users__slider-item {
  animation-play-state: paused;
  cursor: pointer;
}

.firstanimation-users {
  animation: users 4.5s ease-in-out infinite;
}

.secondanimation-users {
  animation: secondusers 4.5s ease-in-out infinite;
}

.thirdanimation-users {
  animation: thirdusers 4.5s ease-in-out infinite;
}

@keyframes users {

  0%, 
  100% { 
    left: 0; 
    opacity: 1; 
  }
  
  33% { 
    left: -960px; 
    opacity: 0; 
  }
  
  66% { 
    left: 960px; 
    opacity: 0; 
  }
}

@keyframes secondusers {

  0%, 
  100% { 
    left: 960px; 
    opacity: 0; 
  }
  
  33% { 
    left: 0; 
    opacity: 1; 
  }
  
  66% { 
    left: -960px; 
    opacity: 0; 
  }
}

@keyframes thirdusers {

  33% { 
    left: 960px; 
    opacity: 0; 
  }
  
  66% { 
    left: 0; 
    opacity: 1; 
  }
  
  0%,
  100% { 
    left: -960px; 
    opacity: 0; 
  }
}

.users__slider-info {
  padding-inline-end: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.users-image {
  width: 384px;
  height: 450px;
}

.users__slider-info-paragraph {
  padding-inline-end: 30px;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0.5px;
}

.users__slider-info-post {
  color: #443FDE;
  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: 0.2px;
}

.users__button {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 10px;
  z-index: 1;
}

.users__button-small {
  display: none;
}

.users__slider-image_mobile {
  display: none;
}

@media (width < 1450px) {

  .users__slider-info {
    padding-inline-end: 20px;
  }
}

@media (width < 1200px) {

  .users__span {
    display: block;
    padding-block-start: 7px;
    font-size: 14px;
    line-height: 25.2px;
    letter-spacing: 1.1px;
    text-align: center;
  }

  .users__title {
    padding-block-start: 12px;
  }

  .users__box {
    margin-block: 10px 35px;
  }

  .users__slider-image {
    display: none;
  }

  .users__slider-image_mobile {
    display: block;
    width: 72px;
    height: 72px;
  }

  .users__slider-item {
    flex-direction: column-reverse;
  }

  .users__button-small {
    display: flex;
    gap: 10px;
    padding-inline-end: 10px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .users__slider {
    height: 358px;
  }
  
  .users__slider-info {
    gap: 50px;
  }

  .users__slider-info-paragraph {
    letter-spacing: -0.6px;
  }

  .users__button {
    display: none;
  }

}