.vacancies__info {
  padding-block-start: 70px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  justify-items: end;
}

.vacancies__info-article {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

.vacancies__info-article-title {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.9px;
}

.vacancies__info-article-paragraph {
  line-height: 28.8px;
  letter-spacing: 0.2px;
  font-size: 16px;
  font-weight: 400;
}

.vacancies__info-button {
  width: 119px;
  height: 44px;
}

.vacancies__cards {
  padding-block-end: 70px;
  margin-block-start: 55px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.vacancies__cards-item {
  background-color: #fff;
  border: 1px solid #ebebef;
  font-size: 18px;
  line-height: 23.4px;
}

.item {
  padding: 30px;
}

.item__top {
  display: flex;
  gap: 10px;
  margin-block-end: 22px;
}

.item__top-image {
  width: 56px;
  height: 56px;
}

.item__top-paragraph {
  display: grid;
}

.item__top-paragraph-company {
  color: #030407;
  font-size: 16px;
  font-weight: 500;
  line-height: 28.8px;
  letter-spacing: -0.3px;
}

.item__top-paragraph-date {
  color: #606476;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: -0.3px;
}

.item__bottom {
  display: grid;
}

.item__bottom-marker {
  margin-block: 25px;
  display: flex;
  gap: 7px;
}

.item__bottom-paragraph-location {
  align-items: start;
  width: 17px;
  height: 20px;
}

.item__bottom-paragraph-salary {
  width: 24px;
  height: 24px;
}

.item__bottom-marker-area {
  color: #443fde;
  background-color: #f3f3fc;
}

.item__bottom-marker-time {
  color: #c98b40;
  background-color: #fef7f1;
}

.item__bottom-container {
  display: flex;
  align-items: center;
  gap: 35px;
}

.item__bottom-paragraph-text {
  color: #606476;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: -0.4px;
}

.item__bottom-paragraph {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 7px;
}

@media (width < 1905px) {

  .vacancies__info {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr min-content;
    gap: 50px;
  }
}

@media (width < 1560px) {

  .item__bottom-container {
    display: grid;
    gap: 0;
  }
}

@media (width < 1400px) {

  .vacancies__cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (width < 970px) {

  .vacancies__cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    margin-block-start: 5px;
  }

  .vacancies__info {
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: start;
    gap: 5px;
  }

  .vacancies__cards-item {
    max-width: 350px;
  }

  .vacancies__info-button {
    width: 200px;
    margin-block: 30px;
  }
}

@media (width < 376px) {

  .item__top {
    margin-block-end: 25px;
  }

  .item__bottom {
    margin-block-start: 25px;
  }

  .item__top-paragraph-company {
    padding-block-start: 10px;
  }

  .item__top-paragraph-date {
    padding-block-start: 10px;
  }

  .vacancies__info {
    padding-block-start: 30px;
    padding-inline-start: 10px;
  }

  .vacancies__cards {
    padding-inline-start: 10px;
    padding-block: 15px 40px;
    gap: 31px;
  }

  .vacancies__cards-item {
    max-height: 263px;
    width: 337px;
    padding: 30px 30px 3px 25px;
  }

  .vacancies__info-button {
    min-width: 337px;
    margin-block: 30px 40px;
  }

  .item__bottom-marker {
    display: grid;
    justify-content: start;
    gap: 0;
    margin-block: 0;
  }

  .item__bottom-paragraph {
    align-items: center;
  }

  .item__top-paragraph-date,
  .item__top-paragraph-company {
    line-height: 16.8px;
  }
}
